@use '../abstract/colors';
@use '../abstract/sizes';

footer {
  display: flex;
  flex-direction: column;
  gap: sizes.$page-gap;
  padding: sizes.$page-padding;
  background-color: colors.$background;

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    a,
    button {
      padding: unset;
      margin: unset;
    }
  }

  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
  }
}
