@use '../abstract/typography';
@use '../abstract/colors';
@use '../abstract/sizes';

.navigation, .bottom-navigation {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: sizes.$navigation-height;
  padding: 0px 8px;
  width: 100%;
  background: colors.$background;

  .am-tab-bar-bar {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    text-align: center;
  }

  .am-tab-bar-tab {
    min-width: 60px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .am-tab-bar-tab-title {
    @include typography.caption;
    margin: unset;
  }
}

.navigation {
  border-bottom: 1px solid colors.$border;
  justify-content: space-between;
  .am-tab-bar-tab-icon {
    display: none;
  }
}

.bottom-navigation {
  border-top: 1px solid colors.$border;
  position: relative;
  z-index: 10000;

  .am-tab-bar-tab-icon svg {
    width: 20px;
    height: 20px;
  }
  
  .am-tab-bar {
    width: 100%;
  }
}
