@use '../abstract/typography';
@use '../abstract/colors';
@use '../abstract/sizes';

.navigation,
.bottom-navigation {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: sizes.$navigation-height;
  padding: 0px 8px;
  background: colors.$background;
  width: 100%;

  .ant-menu-root {
    border: none;
    gap: 8px;
    text-align: center;
  }

  .ant-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include typography.caption;
    padding: unset;
    flex: 1;
  }

  .ant-menu-title-content {
    margin: unset;
    margin-inline-start: unset !important;
  }

  .ant-menu-item-active::after,
  .ant-menu-item:hover::after {
    display: none !important;
  }
}

.navigation {
  border-bottom: 1px solid colors.$border;
  justify-content: space-between;

  .ant-menu-root {
    justify-content: flex-end;
  }
}

.bottom-navigation {
  border-top: 1px solid colors.$border;
  position: relative;
  z-index: 10000;

  .ant-menu-root {
    justify-content: space-between;
    width: 100%;
  }
}
