.adm-popup-body-position-bottom {
  display: flex;
  flex-direction: column;
  bottom: var(--navigation-height) !important;
}

.menu-options {
  width: 100%;
  padding: var(--catalog-padding);
  box-sizing: border-box;

  :first-child {
    flex: 1 0 0;
  }
}
