@use '../abstract/colors';
@use '../abstract/typography';


.catalog-tags {
  .catalog-tag {
    @include typography.paragraph;
    background-color: colors.$tag-background;
    color: colors.$tag-text;
    border: none;
    border-radius: 100px;
    padding: 8px 16px;
  }
}
