@use '../abstract/colors';

@mixin logo() {
  font-family: ChowFun;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: colors.$logo;
  text-wrap: nowrap;
}

.logo {
  @include logo;
}

@mixin h1() {
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: colors.$header;
}

h1 {
  @include h1;
}

@mixin h2() {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  color: colors.$header;
}

h2 {
  @include h2;
}

@mixin h3() {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  color: colors.$header;
}

h3 {
  @include h3;
}

@mixin h4() {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  color: colors.$header;
}

h4 {
  @include h4;
}

@mixin paragraph() {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  color: colors.$text;
}

p, .paragrapth {
  @include paragraph;
}

@mixin caption() {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 14px */
  color: colors.$grey-600;
  text-align: center;
}

.caption {
  @include caption;
}