.bottom-navigation {
  border-top: 1px solid var(--border);
  box-sizing: border-box;
  height: var(--navigation-height);
  
  .am-tab-bar-tab-icon svg {
    width: 24px;
    height: 24px;
  }

  .am-tab-bar-tab-title {
    margin: unset;
  }

  .am-tab-bar-bar {
    display: flex; 
    justify-content: space-between;
  }

  .am-tab-bar-tab {
    width: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 4px 8px;
  }
}
