:root {
  font-family: Arial, sans-serif;
}

:root {
  --grey-50: rgba(255, 255, 255, 1);
  --grey-75: rgba(253, 253, 253, 1);
  --grey-100: rgba(248, 248, 248, 1);
  --grey-200: rgba(230, 230, 230, 1);
  --grey-300: rgba(213, 213, 213, 1);
  --grey-400: rgba(177, 177, 177, 1);
  --grey-500: rgba(144, 144, 144, 1);
  --grey-600: rgba(108, 108, 108, 1);
  --grey-700: rgba(70, 70, 70, 1);
  --grey-800: rgba(34, 34, 34, 1);
  --grey-900: rgba(0, 0, 0, 1);
  --grey-transparent-100: rgba(0, 0, 0, 0.1);
  --grey-transparent-200: rgba(0, 0, 0, 0.2);
  --grey-transparent-300: rgba(0, 0, 0, 0.3);
  --grey-transparent-400: rgba(0, 0, 0, 0.4);
  --grey-transparent-500: rgba(0, 0, 0, 0.5);
  --primary-50: rgba(254, 237, 200, 0.1);
  --primary-75: rgba(254, 237, 200, 0.15);
  --primary-100: rgba(255, 251, 244, 1);
  --primary-200: rgba(255, 248, 233, 1);
  --primary-300: rgba(254, 244, 222, 1);
  --primary-400: rgba(254, 241, 211, 1);
  --primary-500: rgba(254, 237, 200, 1);
  --primary-600: rgba(243, 227, 193, 1);
  --secondary-100: rgba(208, 221, 213, 1);
  --secondary-200: rgba(160, 186, 171, 1);
  --secondary-300: rgba(113, 152, 128, 1);
  --secondary-400: rgba(65, 117, 86, 1);
  --secondary-500: rgba(18, 83, 44, 1);
  --secondary-600: rgba(19, 81, 45, 1);
  --indicators-success: rgba(42, 153, 40, 1);
  --indicators-warning: rgba(244, 182, 60, 1);
  --indicators-error: rgba(255, 46, 46, 1);
}

:root {
  --logo-text: var(--secondary-500);
  --component: var(--secondary-400);
  --selected: var(--secondary-500);
  --background: var(--primary-100);
}
